<div class="navbar navbar-default">                                                                                                 
  <div class="container-fliud">                                             
    <ul class="nav navbar-nav">                                             
      <li><a href="/" target="{{ org_name }}">{{ org_name }}</a></li>
      <li><a href="/help" target="Help">Help Desk</a></li>
      <li><a href="{{ AUP_URL }}" target="TaC">Terms and Conditions</a></li>
    </ul>                                                                   
  </div>                                                                    
</div>                                                                      
